/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/riffic-free");

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Riffic free", sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.btn-carro {
  @apply bg-yellow text-balance py-2 px-4 rounded w-full;
}

.btn-carro:hover {
  @apply bg-purple text-white;
}

.btn-formulario {
  @apply bg-purple border-2 border-purple text-white text-balance py-2 px-4 rounded;
}

.btn-formulario:hover {
  @apply bg-yellow border-2 border-yellow text-black text-balance py-2 px-4 rounded;
}

.btn-formulario-outline {
  @apply border-2 border-purple text-purple text-balance py-2 px-4 rounded;
}

.btn-formulario-outline:hover {
  @apply border-2 border-yellow text-purple text-balance py-2 px-4 rounded;
}

.btn-detalle-carrito {
  @apply flex justify-center items-center rounded-[3px] h-[24px] w-[24px] border-2;
}
.btn-detalle-carrito:hover {
  @apply bg-purple text-white;
}
.btn-detalle-carrito:hover:disabled {
  @apply bg-gray-dark text-white;
}

.btn-detalle-carrito:disabled {
  @apply bg-gray-dark text-white;
}
.text-lato-m {
  @apply text-gray-dark font-bold text-custom-m;
}
.text-lato-l {
  @apply text-gray-dark font-bold text-custom-l;
}
.text-lato-xl {
  @apply text-gray-dark font-bold text-custom-s;
}
.text-lato-2xl {
  @apply text-gray-dark font-bold text-custom-2xl;
}
.text-lato-3xl {
  @apply text-gray-dark font-medium text-custom-3xl;
}
.text-lato-4xl {
  @apply text-gray-G05 font-medium text-custom-3xl;
}

.text-riffic-2xl {
  @apply font-normal font-riffic text-custom-r-2xl text-gray-G05;
}
.text-riffic-4xl {
  @apply font-light font-riffic text-custom-4xl text-gray-dark;
}
.shadow-recomendaciones {
  box-shadow: 0px 4px 5px rgba(244, 180, 12, 0.5);
}
.text-menu {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.05em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.checkbox-custom {
  border: 2px solid red; /* Cambia "red" por el color deseado */
  border-radius: 4px; /* Opcional: ajusta los bordes */
}

.navbar-button-selected {
  background: #fde29a;
  border-radius: 8px;
}

.boton-descubre-carrito {
  background: #ffffff;
  border: 2px solid #f4b40c;
  border-radius: 8px;
  padding: 8px 16px;
  gap: 10px;
}
.boton-descubre-carrito:hover {
  background: #fde29a;
  color: #000;
}

.boton-iniciar-carrito {
  background: #ffffff;
  border: 2px solid #675594;
  border-radius: 8px;
  padding: 8px 16px;
  gap: 10px;
}
.boton-iniciar-carrito:hover {
  background: #675594;
  color: #ffffff;
}

.boton-descubre-carrito {
  @apply text-lato-m;
}
.boton-iniciar-carrito {
  @apply text-lato-m;
}
